* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fff;
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 66px;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: var(--primary-color);
    border: 1px solid currentColor;
    background: #fff;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading {
    font-weight: 700;
    color: #0d1111;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

/* Header */

.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -36px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0 8px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2f3a3b;
}

.nav li.active > a,
.nav a:hover,
.header .action .link:hover {
    text-shadow: 1px 0 0 currentColor;
    transition-duration: 0.2s;
}

.header .sign-up-btn {
    min-width: 108px;
    line-height: 46px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    font-size: 1.6rem;
    background: transparent;
    color: var(--primary-color);
    margin-left: 24px;
    border-radius: 6px;
}

.header .action .link {
    font-size: 1.6rem;
    color: #494949;
}

/* Hero */
.hero {
    padding: 50px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero-content.text {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero-content .heading {
    margin-top: 18px;
}

.hero-content .desc {
    margin-top: 46px;
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
    white-space: pre-line;
}

.hero-content .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-content .cta-group .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    background-color: #fff;
    transition: all 0.3s ease-in;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    margin-left: 50px;
}

.hero-content .cta-group .watch-video:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.hero-media {
    position: relative;
}

.hero-media .courses-summary {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    padding: 17px 25px;
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.hero-media .label,
.hero-media .student-summary .avatar:not(img) {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero-media .schedules-summary {
    position: absolute;
    left: -65px;
    bottom: 46px;
    width: 124px;
    height: 132px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 16px 25px 23px;
}

.hero-media .schedules-summary img {
    margin-top: 16px;
}

.hero-media .student-summary {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 17px 35px;
}

.hero-media .student-summary .avatars {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.hero-media .student-summary .avatar {
    width: 33px;
    height: 33px;
    margin-left: -5px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--avatar-bg-color, var(--primary-color));
}

.hero-media .student-summary .avatar:not(img) {
    padding: 9px 5px;
    color: #fff;
    text-align: center;
}

/* Features */
.features {
    margin-top: 65px;
    padding-top: 65px;
}

.features .body {
    width: 1024px;
    max-width: 100%;
}

.features .text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .body > .heading {
    margin-top: 1.8rem;
    width: 577px;
}

.features .body > .desc {
    width: 590px;
    margin-top: 1.8rem;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features .item {
    --bg-icon-color: #ffc147;
}

.features .item:nth-child(1) {
    width: 168px;
}

.features .item:nth-child(2) {
    width: 223px;
}

.features .item:nth-child(3) {
    width: 224px;
}

.features .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    padding: 29px 27px;
    border-radius: 18px;
    background: var(--bg-icon-color);
}

.features .item .heading {
    margin-top: 26px;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.features .item .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}
