* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fff;
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 66px;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: var(--primary-color);
    border: 1px solid currentColor;
    background: #fff;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading {
    font-weight: 700;
    color: #0d1111;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

/* Header */

.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -36px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0 8px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2f3a3b;
}

.nav li.active > a,
.nav a:hover,
.header .action .link:hover {
    text-shadow: 1px 0 0 currentColor;
    transition-duration: 0.2s;
}

.header .sign-up-btn {
    min-width: 108px;
    line-height: 46px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    font-size: 1.6rem;
    background: transparent;
    color: var(--primary-color);
    margin-left: 24px;
    border-radius: 6px;
}

.header .action .link {
    font-size: 1.6rem;
    color: #494949;
}

/* Hero */
.hero {
    padding: 50px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero-content.text {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero-content .heading {
    margin-top: 18px;
}

.hero-content .desc {
    margin-top: 46px;
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
    white-space: pre-line;
}

.hero-content .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-content .cta-group .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    background-color: #fff;
    transition: all 0.3s ease-in;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    margin-left: 50px;
}

.hero-content .cta-group .watch-video:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.hero-media {
    position: relative;
}

.hero-media .courses-summary {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    padding: 17px 25px;
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.hero-media .label,
.hero-media .student-summary .avatar:not(img) {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero-media .schedules-summary {
    position: absolute;
    left: -65px;
    bottom: 46px;
    width: 124px;
    height: 132px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 16px 25px 23px;
}

.hero-media .schedules-summary img {
    margin-top: 16px;
}

.hero-media .student-summary {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 17px 35px;
}

.hero-media .student-summary .avatars {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.hero-media .student-summary .avatar {
    width: 33px;
    height: 33px;
    margin-left: -5px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--avatar-bg-color, var(--primary-color));
}

.hero-media .student-summary .avatar:not(img) {
    padding: 9px 5px;
    color: #fff;
    text-align: center;
}

/* Features */
.features {
    margin-top: 65px;
    padding-top: 65px;
}

.features .body {
    width: 1024px;
    max-width: 100%;
}

.features .text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .body > .heading {
    margin-top: 1.8rem;
    width: 577px;
}

.features .body > .desc {
    width: 590px;
    margin-top: 1.8rem;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features .item {
    --bg-icon-color: #ffc147;
}

.features .item:nth-child(1) {
    width: 168px;
}

.features .item:nth-child(2) {
    width: 223px;
}

.features .item:nth-child(3) {
    width: 224px;
}

.features .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    padding: 29px 27px;
    border-radius: 18px;
    background: var(--bg-icon-color);
}

.features .item .heading {
    margin-top: 26px;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.features .item .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* Courses */
.courses {
    margin-top: 65px;
    padding-top: 65px;
}

.courses .text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .heading {
    line-height: 1.5;
    margin-top: 18px;
}

.courses .desc-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .desc {
    width: 525px;
    margin-top: 19px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.courses .view-link {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: var(--primary-color);
}
.courses .list {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
    margin-top: 79px;
}

.courses .item {
    position: relative;
    width: calc(33.3% - 31.333px);
}

.courses .item:hover img {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2, 1.2);
}

.courses .item .img {
    display: block;
    width: 359px;
    height: 393px;
    overflow: hidden;
    border-radius: 8px;
}

.courses .item img {
    width: 100%;
    height: 100%;
    background: #d0efed;
    opacity: 0.5;
    border-radius: 8px;
    object-fit: cover;
    transform: scale(1, 1);
    transition: all 0.5s ease-in-out;
}

.course-summary {
    position: absolute;
    left: 17px;
    bottom: -124px;
    width: 325px;
    height: 195px;
    padding: 18px 35px 29px 25px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.course-summary .title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.course-summary .price {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.course-summary .price strong {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.course-summary .field {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.course-summary .training {
    margin-top: 18px;
    display: flex;
    gap: 0 16px;
}

.course-summary .training p {
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #9da6a5;
}

.course-summary .training p::before {
    display: inline-block;
    margin-right: 10px;
    content: "";
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
}

/* Summary */
.summary {
    width: 862px;
    height: 191px;
    margin: 200px auto 0;
    padding-top: 65px;
}

.summary .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary .item {
    text-align: center;
}

.summary .quantity {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.summary .desc {
    margin-top: 11px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

/* Testimonial */
.testimonial {
    margin-top: 200px;
    padding-top: 64px;
}

.testimonial .testimonial-overflow {
    overflow-x: hidden;
}

.testimonial .body {
    display: flex;
    gap: 0 72px;
    align-items: center;
}

.testimonial .content {
    flex-shrink: 0;
}

.testimonial .quotes-icon {
    margin-top: 37px;
}

.testimonial .content .text {
    margin-top: 27px;
    width: 419px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.testimonial .content .speaker {
    margin-top: 33px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.testimonial .speaker strong {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #070707;
}

.testimonial .cta-group {
    margin: 52px 0 37px;
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.testimonial .testimonial-btn {
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.testimonial .avatars {
    width: 679px;
    position: relative;
    height: 481px;
    flex-shrink: 0;
}

.testimonial .avatars .item {
    position: absolute;
    --avatar-bg-color: var(--primary-color);
}

.testimonial .avatars img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: var(--avatar-bg-color);
}

.testimonial .avatars .item:nth-child(1) {
    position: absolute;
    top: 0;
    left: 144px;
}

.testimonial .avatars .item:nth-child(2) {
    position: absolute;
    top: 19px;
    right: 0;
}

.testimonial .avatars .item:nth-child(3) {
    position: absolute;
    right: 32px;
    bottom: 29px;
}

.testimonial .avatars .item:nth-child(4) {
    position: absolute;
    left: 212px;
    bottom: 0;
}

.testimonial .avatars .item:nth-child(5) {
    position: absolute;
    left: 0;
    bottom: 145px;
}

.testimonial .avatars .item:nth-child(6) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
